html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: white;

  font-size: 20px;

  font-family: 'Poppins', sans-serif;
  border-style: none;
  border-color: black;
  border-radius: 3px;
  border-width: 0.5px;
}

#header1 {
  padding: 10px 0px 10px 0px;
  background: linear-gradient(to right, #c02425, #f0cb35);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.384);
  position: fixed;
  width: 100%;

  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-self: center;

  border-style: none;
  border-color: black;
  /* border-radius: 3px; */
  border-width: 1px;
}

.buttonstyle {
  height: 35px;
  width: 120px;

  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border-width: 1px;
}

#buttonstyleheaderLeft {
  height: 35px;
  min-width: 100px;

  margin-left: 10px;
  margin-right: 10px;

  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border-width: 1px;
}

#buttonstyleheaderRight {
  height: 35px;
  min-width: 110px;

  margin-left: 10px;
  margin-right: 10px;

  border-style: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border-width: 1px;
}


#drugSearchBtn {
  height: 54px;
  min-width: 54px;

  margin-left: 10px;
  margin-right: 10px;

  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border-width: 1px;

}

#headerLeft {
  padding: 10px 0px 10px 0px;
  background-color: rgba(255, 255, 255, 0);
  /* position: fixed; */
  width: 35%;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;

  border-style: none;
  border-color: black;
  /* border-radius: 3px; */
  border-width: 1px;
}

#headerRight {
  padding: 10px 0px 10px 0px;
  background-color: rgba(255, 255, 255, 0);
  /* position: fixed; */
  width: 65%;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: center;

  border-style: none;
  border-color: black;
  /* border-radius: 3px; */
  border-width: 1px;
}

#main {
  padding-top: 100px;
  height: 90vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  overflow: auto;

  border-style: none;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
}

#drugSearch {
  padding: 0px;
  margin: 0px;

  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-self: center;

  border-style: none;
  border-color: black;
  /* border-radius: 3px; */
  border-width: 1px;
}

.inputBox {
  margin: 0px;
  padding: 0px;
  height: 25px;
  width: 300px;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
}

.inputBoxDrug {
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  height: 25px;
  width: 330px;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
}

.inputBoxLm {
  margin: 0px;
  padding: 0px;
  height: 25px;
  width: 150px;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
}

#errorSpace {
  width: 400px;
  height: 30px;
  color: white;
  font-size: 12px;

  display: flex;
  align-items: center;

  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border-width: 1px;
}

#submitBtn {
  height: 35px;
  width: 100px;
  background-color: #061700;
  color: white;
  border-style: none;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border-width: 0.5px;
  transition: .3s;
}

#submitBtn:hover {
  background-color: #52c234;
  color: black;
}


#formMain,
#loginMain {
  margin: 20px;
  padding: 20px;

  background: linear-gradient(to right, #c02425, #f0cb35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
  width: 400px;
  height: auto;

  color: black;

  border-style: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border-width: 0.5px;
}

#formlm {
  margin: 20px;
  padding: 20px;

  background: linear-gradient(to right, #c02425, #f0cb35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
  width: 400px;
  height: auto;

  color: black;

  border-style: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border-width: 0.5px;
}

#mainRight {
  margin: 20px;
  padding: 20px;

  background: linear-gradient(to right, #c02425, #f0cb35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
  width: 400px;
  height: auto;

  color: black;

  border-style: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border-width: 0.5px;
}

#formlm table {
  padding: 10px;
  background-color: white;
  font-size: 15px;
  max-height: 300px;

  border: 1px none;
  border-collapse: collapse;
  border-radius: 10px;
}

#formlm td {
  padding: 10px;
  background-color: white;
  font-size: 13px;

  border: 1px none;
  border-collapse: collapse;
  border-radius: 10px;
}

#footer {
  padding: 5px;
  height: 15vh;
  background: linear-gradient(to right, #c02425, #f0cb35);
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.384);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  border-style: none;
  border-color: black;
  border-width: 1px;
}

#footerSub1 {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);

  width: 50%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  border-style: none;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
}

#footerSub1Sub1 {
  margin: 5px;

  background-color: rgba(255, 255, 255, 0);
  height: 65px;
  width: 50%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  border-style: none;
  border-color: black;
  border-radius: 3px;
  border-width: 1px;
}